// -----------------------------------------------
%tom {
	width: 5.28rem;
	height: 4.1rem;
	background-image: url('../img/base64/tom.gif');
	background-size: contain;
	background-repeat: no-repeat;
}
%base64-tom.gif {
	width: 5.28rem;
	height: 4.1rem;
	background-image: url('../img/base64/tom.gif');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
